.header {	
	background:white; 
	text-align: center;
	margin:0px ;
}

.header ul {
    list-style: none;
    padding:5px; 
}

.topmenu  > li {
    padding-left:20px;
    padding-right:20px;
    position: relative;
    display:inline;
	font-style:oblique;
    font-size: 35px;
    margin-right:20px;
    border-right:2px solid gray;
    border-left:2px solid gray;
}

.topmenu > li > a {
    text-decoration:none;
    font-weight: bold;
    color: black;
}

.topmenu li a:hover { color: #D5B45B; 
}

.submenu {	
	background:white;
	border-radius: 10px;
	position: absolute;
    list-style: block;
	color: black;
	display: block;
	text-align:left;
    left:0px;	
    font-size: 25px;
	font-weight:100; 
	height:0;
    overflow:hidden;
    transition: height 0.1s 0.1s ease-out;	
}

.submenu > li > a {
	text-decoration:none;
	color: black;
	padding:4px; 
}

.submenu > li  {
	padding-bottom:10px;
	border-bottom: 2px solid black;	
}

.topmenu > li:hover .submenu {
    display: block;
	height:120px;
}

.middle {
	display:flex;
	margin:0px;
	justify-content:center;
	width:100%;
	height:500px;
}

.cityscape {
	border-radius: 20px;
	height:500px;
}

.middle2 {
	margin: 20px 50px 20px 50px;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}

.row {
	flex-grow:1;
	margin:0px;
	text-align:center;
	padding:10px;
	height:350px;
	
}

.cityscape2 {
	border-radius: 120px;
	width:250px;
	height:220px;	
}
	
